// Place all the styles related to the activities controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.day_box {
	width: 20%;
	position: relative;
	display: inline-block;
	box-sizing: border-box;
	margin: 0 -8px;
}

.day_box .locked {
	position: absolute;
	margin: 13px;
	width: 90%;
	opacity: 0.5;
}

.day_box .off {
	position: absolute;
	margin: 13px;
	width: 90%;
	opacity: 0.5;
	transition: all 0.3s;
	-moz-transition: all 0.3s;
	-webkit-transition: all 0.3s;
}

.day_box .on {
	position: absolute;
	margin: 13px;
	width: 90%;
	opacity: 0;
	transition: all 0.3s;
	-moz-transition: all 0.3s;
	-webkit-transition: all 0.3s;
}

.day_box .off:hover {
	opacity: 0;
}

.day_box .fullfilled {
	z-index: 2;
	position: relative;
}

.day_box img {
	height: auto;
	max-width: 100%;
}

.day_overlay {
	position: absolute;
	left: 0px;
	top: 0px;
}

body.mosaic {
	background-image: url(/assets/fondo_mosaico.jpg);
	color: #fff;
}

#breadcrumb {
	background-color: #D8DDE1;
	padding: 5px 5px 2px;
	border-radius: 10px;
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	border-top: 1px solid #AAAFB3;
	border-right: 1px solid #CBD0D5;
	border-left: 1px solid #CBD0D5;
	border-bottom: 1px solid #fff;
	margin: 30px auto;
	display: table;
}

.next-prev {
	border: none;
	background-color: transparent;
	background-image: url(/assets/breadcumb-off.png);
	background-position-x: -5px;
	width: 37px;
	height: 41px;
	color: #0D4F99;
	vertical-align: top;
	display: inline-block;
	margin: 0 5px;
	transition: all 0.3s;
	-moz-transition: all 0.3s;
	-webkit-transition: all 0.3s;
}

.next-prev:hover {
	background-image: url(/assets/breadcumb-on.png);
	cursor: pointer;
}

.next-prev:hover .arrow-right {
	border-left: 8px solid #fff;
}

.next-prev:hover .arrow-left {
	border-right: 8px solid #fff;
}

.next-prev .arrow-left {
	width: 0;
	height: 0;
	border-top: 7px solid transparent;
	border-bottom: 7px solid transparent;
	border-right: 8px solid #0D4F99;
	margin: 10px auto;
	transition: all 0.3s;
	-moz-transition: all 0.3s;
	-webkit-transition: all 0.3s;
}

.next-prev .arrow-right {
	width: 0;
	height: 0;
	border-top: 7px solid transparent;
	border-bottom: 7px solid transparent;
	border-left: 8px solid #0D4F99;
	margin: 11px 18px;
	transition: all 0.3s;
	-moz-transition: all 0.3s;
	-webkit-transition: all 0.3s;
}

.carousel-indicators {
	position: relative;
	display: inline-block;
	margin: 0;
	width: auto;
	left: 0;
	bottom: 0;
}

.carousel-indicators li {
	text-indent: 0;
	border: none;
	background-color: transparent;
	background-image: url(/assets/breadcumb-off.png);
	background-position-x: -5px;
	width: 37px;
	height: 41px;
	line-height: 38px;
	color: #0D4F99;
	vertical-align: top;
}

.carousel-indicators .active {
	background-image: url(/assets/breadcumb-on.png);
	color: #fff;
	width: 37px;
	height: 41px;
	background-color: transparent;
}

.carousel-inner {
	padding: 0 20px;
}

.carousel-control {
	z-index: 999;
	display: inline-block;
}

.carousel-control.left, .carousel-control.right {
	background: transparent;
}

.carousel-control.left {
	left: 0;
	width: 20px;
	margin-top: 15%;
}

.carousel-control.left img {
	left: 0;
}

.carousel-control.right {
	right: 0;
	width: 20px;
	margin-top: 15%;
}

.carousel-control.right img {
	right: 0;
}

.carousel-control img {
	position: absolute;
	z-index: 5;
	display: inline-block;
	width: 20px;
}

.badges {
	padding: 20px 50px;
	position: relative;
}

#badges_carousel h1 {
	color: #fff;
	margin: 0 0 30px;
	font-size: 45px;
}

.badge-title {
	background-color: #A7BACB;
	color: #1A5E9D;
	padding: 5px 10px;
	font-size: 24px;
	display: table;
	margin: 30px auto 0;
	border-radius: 10px;
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
}

.content-white {
	background-color: #fff;
	padding: 155px 0 30px;
	margin-top: -165px;
	color: #222;
}

.content-white h1.blue-text {
	margin-bottom: 40px;
}

.blue-text {
	color: #005098;
}

.challenge-box {
	background-color: #ddd;
	padding: 10px;
}

.challenge-box .image {
	padding: 20px;
}

.reto-background .btn-large {
	margin-bottom: 30px;
}

.btn-large {
	font-size: 24px;
}

.btn-flat {
	border-radius: 0;
	-webkit-border-radius: 0;
	-moz-border-radius: 0;
}

.btn-primary {
	color: #fff;
	background-color: #3276b1;
	border: none;
	transition: all 0.3s;
	-moz-transition: all 0.3s;
	-webkit-transition: all 0.3s;
}

.btn-primary:hover {
	background-color: rgba(11, 52, 156, 0.5);
	color: #fff;
}