// Place all the styles related to the activities controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.day_box {
	width:231px;
	height:265px;
	position:relative;
	float: left;
}

.day_img {
	width:233px;
	height:auto;
}

.day_overlay {
	position: absolute;
	left: 0px;
	top: 0px;
}

body.mosaic {
	background-image: url(/assets/fondo_mosaico.jpg);
	color: #fff;
}
