// SASS variable overrides must be declared before loading up Active Admin's styles.
//
// To view the variables that Active Admin provides, take a look at
// `app/assets/stylesheets/active_admin/mixins/_variables.css.scss` in the
// Active Admin source.
//
// For example, to change the sidebar width:
// $sidebar-width: 242px;

// Active Admin's got SASS!
@import "active_admin/mixins";
@import "active_admin/base";

$skinLogo: url("logo_circle.png") no-repeat 0 0;
$skinActiveColor: #005097;
$skinHeaderBck: #2C2C2C;

.action_items span.action_item > a {
  border-radius: 0px !important;
}

#header h1.site_title {
  background-position: center !important;
}
.header-item li {
  height: 15px;
  margin: 14px !important;
}

@import "active_skin";

// Overriding any non-variable SASS must be done after the fact.
// For example, to change the default status-tag color:
//
//   .status_tag { background: #6090DB; }
