// Place all the styles related to the promos controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.day-item {
  margin-left: 60px;
}

.list-group-item {
  border-radius: 0px !important;
  margin-bottom: 2px !important;
}

.black-day-row {
  margin-bottom: 2px;
}
