.container
  .row
    .col-md-4.col-md-offset-8
      %h3
        = @challenge.day.name
        = image_tag @challenge.day.image.url :thumb
.challenge_box
  .container.challenge_description
    .row
      .col-md-12
        %h1.text-center
          = @challenge.title
    .row
      .col-md-12
        %p
          = simple_format @challenge.description
    .row
      .col-md-9.col-offset-md2
        %form{action: "#", class:'dropzone'}
          .fallback
            %input{name:'file', type:'file'}
  .container.disqus_box
    .row
      .col-md-12
        #disqus_thread
        %noscript
          Please enable JavaScript to view the
          %a{href: "https://disqus.com/?ref_noscript", rel: "nofollow"}
            comments powered by Disqus.
