/ <div id="badges_carousel" class="carousel slide" data-ride="carousel" data-interval="false">
/   <div class="carousel-inner">
/     <div class="item " name="sprint-11">
/       <h1 class="text-center">
/         Refactor + Testing
/       </h1>
/       <div class="badges">
/         <a class="left carousel-control" href="#badges_carousel" role="button" data-slide="prev">
/           <img class="img-responsive" src="http://plataforma.hack4geeks.co/wp-content/themes/HackRoots/assets/img/arrow-left.png" alt="">
/         </a>
/         <a class="right carousel-control" href="#badges_carousel" role="button" data-slide="next">
/           <img class="img-responsive" src="http://plataforma.hack4geeks.co/wp-content/themes/HackRoots/assets/img/arrow-right.png" alt="">
/         </a>

/         <div class="badge-container">
/          <img class="img-responsive badge-img" title="Refactoring + Buenas practicas, Code Review!" src="http://plataforma.hack4geeks.co/wp-content/themes/HackRoots/assets/img/cat/51.png" alt="">
/          <img class="img-responsive lockedBG" title="Refactoring + Buenas practicas, Code Review!" src="http://plataforma.hack4geeks.co/wp-content/themes/HackRoots/assets/img/black_hexagon.png">
/          <img class="img-responsive locked" title="Refactoring + Buenas practicas, Code Review!" src="http://plataforma.hack4geeks.co/wp-content/themes/HackRoots/assets/img/locked.png">
/        </div>

/        <div class="badge-container">
/          <img class="img-responsive badge-img" title="Pruebas integrales, pruebas de volumen y stress" src="http://plataforma.hack4geeks.co/wp-content/themes/HackRoots/assets/img/cat/52.png" alt="">
/          <img class="img-responsive lockedBG" title="Pruebas integrales, pruebas de volumen y stress" src="http://plataforma.hack4geeks.co/wp-content/themes/HackRoots/assets/img/black_hexagon.png">
/          <img class="img-responsive locked" title="Pruebas integrales, pruebas de volumen y stress" src="http://plataforma.hack4geeks.co/wp-content/themes/HackRoots/assets/img/locked.png">
/        </div>
/      </div>
/    </div>

/  </div>
/  <div class="text-center">
/   <div class="badge-title" id="badge-title">Servicios REST 1</div>
/ </div>
/ <div id="breadcrumb">
/   <a class="next-prev" data-target="#badges_carousel" data-slide="prev"><div class="arrow-left"></div></a>
/   <ol class="carousel-indicators">

/    <li data-target="#badges_carousel" data-slide-to="0">1</li>
/    <li data-target="#badges_carousel" data-slide-to="1">2</li>
/    <li data-target="#badges_carousel" data-slide-to="2">3</li>
/    <li data-target="#badges_carousel" data-slide-to="3">4</li>
/    <li data-target="#badges_carousel" data-slide-to="4">5</li>
/    <li data-target="#badges_carousel" data-slide-to="5">6</li>
/    <li data-target="#badges_carousel" data-slide-to="6">7</li>
/    <li data-target="#badges_carousel" data-slide-to="7">8</li>
/    <li data-target="#badges_carousel" data-slide-to="8">9</li>
/    <li data-target="#badges_carousel" data-slide-to="9">10</li>
/    <li data-target="#badges_carousel" data-slide-to="10" class="active">11</li>
/    <li data-target="#badges_carousel" data-slide-to="11">12</li>

/  </ol>
/  <a class="next-prev" data-target="#badges_carousel" data-slide="next">
/    <div class="arrow-right"></div>
/  </a>
/ </div>
/ </div>

.container
  .row
    .col-md-12
      - @weeks.each do |week|
        %h1.text-center
          = week.name
        .row
          - week.days.each do |day|
            .col-md-2
              %h3
                = day.name